<%= render 'clean_blogs/shim' %>
<%= render 'clean_blogs/navigation' %>
<%= render 'clean_blogs/header' %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
              <% @posts.each do |post| %>
                  <h1 class="post-title"><%= link_to post.title , post_path(post) %></h1>
                     <h3 class="post-subtitle">
                       <%= post.description %>
                    </h3>
                    <p class="post-meta text-right">
                    Posted by <a href="#">Joshua Varghese</a> <%= post.created_at.strftime('%b %d, %Y') %></p>
                <% end %>   
              </div>
            </div>       
        </div>
      </div>


                   <%= render 'clean_blogs/footer' %>