<%= render 'clean_blogs/shim' %>
<%= render 'clean_blogs/navigation' %>
<%= render 'clean_blogs/header' %>

<div class ="container">
<div class="panel-body">
  <div><%= raw @post.body %></div>
</div>
</div>
<%= render 'clean_blogs/footer' %>